@model CARepository.RepoModels.ScheduleAssessmentViewModel

@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Schedule Assessment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Schedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AssmtId" class="control-label"></label>
                <select asp-for="AssmtId" class="form-control" asp-items="@(new SelectList(Model.AssessmentsList,"AssmtID","AssmtName"))"></select>
                <span asp-validation-for="AssmtId" class="text-danger"></span>
            </div>

            <table class="table table-border">
                <tr>
                    <th>Is Active</th>
                    <th>Id</th>
                    <th>Emp Id</th>
                    <th>Emp Name</th>
                </tr>
                <tbody>
                    @for (int i = 0; i < Model.UsersList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(modelItem => Model.UsersList[i].isActive)
                            </td>
                            <td>
                                @Html.TextBoxFor(modelItem => Model.UsersList[i].Id)
                            </td>
                            <td>
                                @Html.TextBoxFor(modelItem => Model.UsersList[i].EmpID)
                            </td>
                            <td>

                                @Html.TextBoxFor(modelItem => Model.UsersList[i].Name)
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>

            
            <div class="form-group">
                <input type="submit" value="Schedule" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
